# Add any directories, files, or patterns you don't want to be tracked by version control -Harry
# Compiled files
*.tfstate
*.tfstate.backup
*.retry
*.swap

# Module directory
.terraform/*
**/.terraform
bin/*
tmp/*
states/*
*.terraform/*
*/.terraform/*
